// Global Variable

$main-color: #b3b792;
$gradient-color: linear-gradient(
  to left top,
  #c5beab,
  #e1dbcd,
  #9ca089,
  #868b6b,
  #5d624c
);
$main-font-family: "Inter", sans-serif;
$heading-font-family: "Saira", sans-serif;
$black-color: #18181b;
$paragraph-color: #646464;
$white-color: #ffffff;
$transition: all 0.6s ease;

/* section-title */
.section-title {
  &.style-two {
    text-align: start;
    padding-left: 90px;
    margin: {
      left: 0;
      right: 0;
      bottom: 50px;
    }
    h2 {
      position: relative;
      font-size: 30px;

      &::before {
        left: -90px;
        top: 50%;
        width: 70px;
        height: 1px;
        content: "";
        position: absolute;
        transform: translateY(-50%);
        background-color: #111;
      }
    }
    p {
      margin: {
        left: 0;
        right: 0;
      }
    }
  }
}

/*navbar*/

.logo-la-navbar {
  margin-left: -10px;
  width: 75%;
  height: auto;
}

/* Personal Portfolio Banner Area CSS */
.personal-portfolio-banner-area {
  min-height: 100vh;
  background-image: url("../public/images/personal-portfolio/banner-img.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: {
    top: 160px;
    bottom: 100px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(255, 198, 114, 0.2),
      rgba(255, 255, 255, 1),
      rgba(254, 163, 163, 0.2)
    );
  }
}

.banner {
  display: flex;
  justify-content: center;
  min-height: 60vh;
}
.personal-portfolio-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .sub-title {
    display: flex;
    justify-content: center;
    padding-left: 65px;
    margin-bottom: 12px;
    font: {
      size: 20px;
      weight: 500;
    }
    &::before {
      left: 0;
      top: 50%;
      width: 50px;
      height: 1px;
      content: "";
      position: absolute;
      transform: translateY(-50%);
      background-color: $main-color;
    }
  }
  .title {
    color: $black-color;

    display: flex;
    justify-content: center;
  }
  h1 {
    margin-bottom: 15px;
    font: {
      size: 72px;
      weight: 600;
    }
  }
  .sub-title-banner {
    color: $black-color;
    display: flex;
    justify-content: center;
  }
  h4 {
    margin-bottom: 20px;
    font: {
      size: 32px;
      weight: 500;
    }
  }
  .text-banner {
    color: $black-color;

    text-align: center;
    font-size: 18px;
  }
  p {
    max-width: 535px;
  }
  .default-btn-two {
    margin-top: 10px;
  }
}

/* Expertise Area CSS */
.pp-expertise-area {
  border-bottom: 1px solid #f0f0f0;
}
.pp-expertise-box {
  margin-bottom: 30px;

  .icon {
    display: block;
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 80px;
    color: #111;
    border-radius: 10px;
    transition: $transition;
    margin-bottom: 25px;
    text-align: center;
    background-color: #f0efff;

    &.bg-fff5e6 {
      background-color: #fff5e6;
    }
    &.bg-f3f9e7 {
      background-color: #f3f9e7;
    }
    &.bg-ffefef {
      background-color: #ffefef;
    }
    &.bg-eaf6ff {
      background-color: #eaf6ff;
    }
    &.bg-faf2ff {
      background-color: #faf2ff;
    }
  }
  h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  &:hover {
    .icon {
      background-color: #111;
      color: $white-color;
    }
  }
}

/* Works box */
.pp-works-box {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;

  img {
    transition: $transition;
  }
  .link-btn {
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
  }
  .text-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    transform: translateY(-50%);

    background-color: rgba(0, 0, 0, 0.75);
    h3,
    h4 {
      font-size: 20px;
      color: #fff;
    }
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
    .text-portfolio {
      margin-top: 0;
      visibility: visible;
      opacity: 1;
    }
  }
}
.pp-works-box-btn {
  text-align: center;
  margin-top: 20px;
}

/* Skills Area CSS */
.pp-skills-box {
  height: 75%;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px;
  background-color: $white-color;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  img {
    transition: transform 0.25s ease-in-out;
  }
  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.05);
    transition: transform 0.25s ease-in-out;
    will-change: transform;

    &::before {
      transition: box-shadow 0.25s ease-in-out;
    }

    img {
      transform: scale(1.3);
      transition: transform 0.25s ease-in-out;
      will-change: transform;
    }
  }
  /*&:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px 5px rgba(46, 46, 46, 0.586);

    img {
      transform: scale(1.3);
      transition: transform 0.25s ease-in-out;
      will-change: transform;
    }
  }*/
}
.container-icon-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

/* Timeline/Short Brief Area CSS */
.short-brief-area {
  border-bottom: 1px solid #f0f0f0;
}
.short-brief-content {
  margin-bottom: 30px;

  .timeline {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .timeline-item {
    padding-left: 40px;
    position: relative;

    &:last-child {
      .timeline-content {
        padding-bottom: 0;
      }
    }
    &:not(.period):hover {
      .timeline-marker {
        &::before {
          background: transparent;
          border: 3px solid var(--blackColor);
        }
      }
    }
  }
  .timeline-marker {
    position: absolute;
    width: 15px;
    bottom: 0;
    top: 0;
    left: 0;

    &::before {
      transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
      background: var(--blackColor);
      border: 3px solid transparent;
      border-radius: 100%;
      position: absolute;
      display: block;
      height: 15px;
      width: 15px;
      content: "";
      top: 4px;
      left: 0;
    }
    &::after {
      background: #eeeeee;
      position: absolute;
      display: block;
      content: "";
      top: 24px;
      bottom: 0;
      left: 6px;
      width: 3px;
    }
  }
  .timeline-content {
    padding-bottom: 30px;

    h3 {
      font-size: 20px;
      margin-bottom: 13px;
    }
  }
  .timeline-info {
    .sub-title {
      color: var(--optionalColor);
      margin-bottom: 12px;
      font-weight: 500;
      display: block;

      span {
        display: inline-block;
        font: {
          size: 18px;
          weight: 700;
        }
      }
    }
  }
}

.separate-border {
  border-top: 1px solid #f0f0f0;
}

/* Contact Form */
.contact-section {
  display: flex;
  justify-content: center;
}
.pp-contact-area {
  .contact-title {
    margin-bottom: 20px;
    h2 {
      font-size: 30px;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    p {
      a {
        color: #111;
        font-weight: 600;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

/* Responsive CSS 
========================*/
@media only screen and (max-width: 767px) {
  .personal-portfolio-banner-area {
    padding-top: 120px;
    padding-bottom: 60px;
    h1 {
      font-size: 35px;
      font-weight: 700;
    }
    h4 {
      margin-bottom: 15px;
      font-size: 25px;
    }
  }

  /*navbar*/
  .logo-la-navbar {
    margin-left: 0px;
    width: 65%;
    height: auto;
  }

  .section-title {
    &.style-two {
      padding-left: 30px;
      margin-bottom: 30px;
      h2 {
        font-size: 25px;
        &::before {
          left: -30px;
          width: 20px;
        }
      }
    }
  }

  .pp-works-box {
    h3,
    h4 {
      font-size: 16px;
    }
  }
  .pp-contact-area {
    .contact-img {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .personal-portfolio-banner-area {
    padding-top: 120px;
    padding-bottom: 70px;
    h1 {
      font-size: 35px;
      font-weight: 700;
    }
    h4 {
      margin-bottom: 15px;
      font-size: 25px;
    }
  }
  /*navbar*/
  .logo-la-navbar {
    margin-left: -10px;
    width: 65%;
    height: auto;
  }

  .section-title.style-two {
    margin-bottom: 30px;
  }
  .pp-contact-area {
    .contact-img {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .personal-portfolio-banner-content {
    h1 {
      font-size: 55px;
    }
    h4 {
      font-size: 25px;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}
